<form action="/register-user" method="post">

    <p><label>First name :</label>
        <input type="text" name="first_name" required>
    </p>

    <p><label>Last name :</label>
        <input type="text" name="last_name" required>
    </p>

    <p><label>Date of birth:</label>
        <input type="date" name="dob" id="date" required>
    </p>

    <p><label>Email :</label>
        <input id="em" type="email" name="email" required>
    </p>

    <p><label>Password :</label>
        <input id="pas" type="password" name="password" required>
    </p>

    <p><label>Sex :</label>
        Male: <input type="radio" name="sex" value="male" required>
        Female: <input type="radio" name="sex" value="female">
    </p>

    <p><label>Phone number :</label>
        <input type="number" name="phone" required>
    </p>

    <p><label>Country :</label>
        <select name="country">
            <option value="us">United States</option>
            <option value="ca">Canada</option>
            <option value="uk">United Kingdom</option>
            …
        </select>
    </p>

    <hr width="370px" class="m-3">

    <button type="submit" class="su">Submit</button>

</form>
