<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <link rel="shortcut icon" type="x-icon" href="images/Reg.png">
    <link rel="stylesheet" href="style/web.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..900&family=Parisienne&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/register.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img class="fa-0x" src="images/logo.png" alt="" width="150px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="se">
                <button class="btn btn-outline-success" type="submit" id="searchbn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="collapse navbar-collapse" id="main">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn nav-link active" aria-current="page" href="#" id="home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Clothes">Clothes</a></li>
                            <li><a class="dropdown-item" href="#Electronic">Electronic</a></li>
                            <li><a class="dropdown-item" href="#cosmetics">cosmetics</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="contact">
                            <a class="btn nav-link" aria-current="page" href="#Contactuso" id="ContactUs">Contact Us</a>
                        </div>
                    </li>
                </ul>
                <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="btn text-white" id="log">Login</a>
                <button class="p-3" id="cart" onclick="display()"><i class="fa-solid fa-cart-shopping"></i></button>
                <a class="nav-link" href="#" id="userIcon" style="display:none;">
                    <div class="icon">
                        <div class="person">
                            <i class="fa-regular fa-circle-user  fa-2x"></i>
                        </div>
                        <div class="name">Ahmed</div>
                    </div>
                </a>

            </div>
        </div>
    </nav>

    <!-- Registration Container -->
    <div id="Allreg">
        <div class="choose">

            <h1 style="font-family: Parisienne;">Registration Form</h1>
            <hr>

            <form action="/register-user" method="post">

                <p><label>First name :</label>
                    <input type="text" name="first_name" pattern="^[A-Za-z]{3,}$"
                        title="Only letters, minimum 3 characters" required>
                </p>

                <p><label>Last name :</label>
                    <input type="text" name="last_name" pattern="^[A-Za-z]{3,}$"
                        title="Only letters, minimum 3 characters" required>
                </p>

                <p><label>Date of birth:</label>
                    <input type="date" name="dob" required>
                </p>

                <p><label>Email :</label>
                    <input type="email" name="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.com$"
                        title="Email must end with .com" required>
                </p>

                <p><label>Password :</label>
                    <input type="password" name="password"
                        pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
                        title="Min 8 chars, uppercase, lowercase, number, special character" required>
                </p>

                <p><label>Sex :</label>
                    Male: <input type="radio" name="sex" value="male" required>
                    Female: <input type="radio" name="sex" value="female">
                </p>

                <p><label>Phone number :</label>
                    <input type="tel" name="phone" pattern="^(010|011|012|015)\d{8}$"
                        title="Valid Egyptian phone number (e.g., 01012345678)" required>
                </p>

                <p><label>City :</label>
                    <select name="country" required>
                        <option value="">-- Select City --</option>

                        <option value="cairo">Cairo</option>
                        <option value="giza">Giza</option>
                        <option value="alexandria">Alexandria</option>
                        <option value="qalyubia">Qalyubia</option>
                        <option value="beheira">Beheira</option>
                        <option value="matrouh">Matrouh</option>
                        <option value="dakahlia">Dakahlia</option>
                        <option value="sharqia">Sharqia</option>
                        <option value="gharbia">Gharbia</option>
                        <option value="kafr_elsheikh">Kafr El-Sheikh</option>
                        <option value="damietta">Damietta</option>
                        <option value="monufia">Monufia</option>
                        <option value="portsaid">Port Said</option>
                        <option value="suez">Suez</option>
                        <option value="ismailia">Ismailia</option>
                        <option value="beni_suef">Beni Suef</option>
                        <option value="fayoum">Fayoum</option>
                        <option value="minya">Minya</option>
                        <option value="assiut">Assiut</option>
                        <option value="sohag">Sohag</option>
                        <option value="qena">Qena</option>
                        <option value="luxor">Luxor</option>
                        <option value="aswan">Aswan</option>
                        <option value="north_sinai">North Sinai</option>
                        <option value="south_sinai">South Sinai</option>
                        <option value="red_sea">Red Sea</option>
                        <option value="new_valley">New Valley</option>
                    </select>
                </p>

                <button type="submit" class="su">Submit</button>

            </form>

        </div>
    </div>

    <div class="footer pt-5 pb-3 text-white-50 text-md-start">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div>
                        <div class="info">
                            <img src="images/logo.png" alt="" class="mb-4" width="150px">
                            <p class="mb-4">Discover the Essence of Elegance and Quality at Comercio Your Ultimate
                                Destination for Unmatched Shopping Experience!</p>
                        </div>

                    </div>

                </div>

                <h5 class="text-white" id="Contactuso">Contact Us</h5>
                <p class="lh-lg">Subscribe to our Social media to get updates about our grand offers.</p>
                <ul class="d-flex mt-3 list-unstyled gap-3">
                    <li>
                        <a class="d-block text-light" href="https://www.facebook.com/" target="_blank"><i id="f"
                                class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"></i></a>
                    </li>
                    <li>
                        <a class="d-block text-light" href="https://x.com/" target="_blank"><i id="x"
                                class="fa-brands fa-twitter fa-lg twitter rounded-circle p-2"></i></a>
                    </li>
                    <li>
                        <a class="d-block text-light" href="https://www.linkedin.com/login" target="_blank"><i id="l"
                                class="fa-brands fa-linkedin fa-lg linkedin rounded-circle p-2"></i></a>
                    </li>
                    <li>
                        <a class="d-block text-light" href="https://www.youtube.com/" target="_blank"><i id="y"
                                class="fa-brands fa-youtube fa-lg youtube rounded-circle p-2"></i></a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    </div>
    <div id="footer-bottom">
        <div class="container">
            <hr class="m-0">
            <div class="row mt-3">
                <div class="col-md-6 copyright">
                    <p class="secondary-font">© 2024 Comercio. All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>

    <script src="style/register.js"></script>
</body>

</html>