body {
            background-color: hsl(214, 27%, 10%);
            color: hsl(178, 63%, 51%);
        }
        #Allreg {
            display: flex;
            justify-content: center;
        }
        label {
            width: 205px;
            display: inline-block;
        }
        input, select {
            background-color: hsl(214, 27%, 30%);
            border-radius: 6px;
            color: #b1b1b1;
            padding: 5px;
        }
        .choose {
            box-shadow: 0px 0px 5px hsl(178, 63%, 51%);
            padding: 20px 40px;
            margin: 40px auto;
        }
        .su {
            background-color: hsl(178, 63%, 51%);
            color: black;
            font-weight: 500;
            border-radius: 20px;
            padding: 10px 30px;
            transition: 0.5s;
            display: block;
            margin: 20px auto;
        }
        .su:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }